@import "src/variables";

.header {
    display: flex;
    align-items: center;
    background-color: $primary;
    @include mat-elevation(2);

    &__title {
        position: relative;
        font-size: 26px;
        color: $white;
        padding-right: 12px;
        margin-right: 12px;

        &:after {
            content: '';
            position: absolute;
            top: 2px;
            right: 0;
            bottom: 2px;
            width: 1px;
            background-color: rgba($white, 0.4);
        }
    }

    &__navigation {

        a {
            color: rgba($white, 0.8);

            &.active {
                color: $white;
            }
        }
    }
}